In [1]:
import pandas as pd
import sklearn as sk
from sklearn.tree import DecisionTreeClassifier
import re

1) Какое количество мужчин и женщин ехало на корабле? 
    В качестве ответа приведите два числа через пробел.
2) Какой части пассажиров удалось выжить? 
    Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), 
    округлив до двух знаков.
3) Какую долю пассажиры первого класса составляли среди всех пассажиров? 
    Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.
4) Какого возраста были пассажиры? 
    Посчитайте среднее и медиану возраста пассажиров. 
    В качестве ответа приведите два числа через пробел.
5) Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? 
    Посчитайте корреляцию Пирсона между признаками SibSp и Parch.
6) Какое самое популярное женское имя на корабле? 
    Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). 
    
Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.
Если ответом является нецелое число, то целую и дробную часть необходимо разграничивать точкой, например, 0.42. При необходимости округляйте дробную часть до двух знаков.

In [2]:
df = pd.read_csv('../Data/Coursera/Coursera_1_lecture_dataset_titanic.csv')

In [3]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
dfa = df

1) Какое количество мужчин и женщин ехало на корабле?

In [5]:
dfag_sex = dfa.groupby(by='Sex')

In [6]:
dfag_sex['Sex'].count()

Sex
female    314
male      577
Name: Sex, dtype: int64

2) Какой части пассажиров удалось выжить?

In [7]:
dfag_survived = dfa.groupby(by='Survived')

In [8]:
dfag_survived['Survived'].count() / dfa['Survived'].count() * 100

Survived
0    61.616162
1    38.383838
Name: Survived, dtype: float64

3) Какую долю пассажиры первого класса составляли среди всех пассажиров?

In [9]:
dfa[(dfa['Pclass'] == 1)]['Pclass'].count() / dfa['Pclass'].count() * 100

24.242424242424242

4) Какого возраста были пассажиры?

In [10]:
dfa['Age'].mean()

29.69911764705882

In [11]:
dfa['Age'].median()

28.0

5) Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? 
    Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [12]:
dfa[['SibSp', 'Parch']].corr()

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

6) Какое самое популярное женское имя на корабле? 
    Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name).

In [13]:
dfa[(dfa['Sex'] == 'female')]['Name'].map(lambda x : x.split(' ')[-1].replace(')', '').replace('"', '')).value_counts().head(5)

Mary         8
Sofia        6
Elizabeth    5
Bertha       4
Anna         4
Name: Name, dtype: int64

Задание по программированию: Важность признаков

In [14]:
df4 = df[['Pclass', 'Fare', 'Sex', 'Age', 'Survived']]

In [15]:
df4.head(5)

   Pclass     Fare     Sex   Age  Survived
0       3   7.2500    male  22.0         0
1       1  71.2833  female  38.0         1
2       3   7.9250  female  26.0         1
3       1  53.1000  female  35.0         1
4       3   8.0500    male  35.0         0

In [16]:
df4['Sex_num'] = df4['Sex'].apply(lambda x: 1 if x.upper() == 'MALE' else 0)
df4['Sex'] = df4['Sex_num']
del df4['Sex_num']

/opt/conda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/conda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
df4.head(5)

   Pclass     Fare  Sex   Age  Survived
0       3   7.2500    1  22.0         0
1       1  71.2833    0  38.0         1
2       3   7.9250    0  26.0         1
3       1  53.1000    0  35.0         1
4       3   8.0500    1  35.0         0

In [18]:
df4c = df4[(pd.notna(df4['Pclass'])) & (pd.notna(df4['Fare'])) & (pd.notna(df4['Sex'])) & (pd.notna(df4['Age']))]

In [19]:
y = df4c['Survived']
del df4c['Survived']

In [20]:
dtc = DecisionTreeClassifier(random_state=241)

In [21]:
dtc.fit(df4c, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=241,
            splitter='best')

In [22]:
importance = dtc.feature_importances_

In [23]:
importance

array([0.14000522, 0.30343647, 0.30051221, 0.2560461 ])

In [24]:
df4c.columns

Index(['Pclass', 'Fare', 'Sex', 'Age'], dtype='object')